.newsfeed-row{
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 1em;
}

.newsfeed-row:last-child{
    margin-bottom: 0;
}

.newsfeed-row .newsfeed-color-strip{
    width: 99%;
    height: 10px;
    background-color: #b1c8d8fa;
}

.newsfeed-row:nth-child(even) .newsfeed-color-strip{
    background-color: #ca7106;
}

.newsfeed-row .newsfeed-row-info-wrapper{
    width: 100%;
    border:1px solid #2f2f67;
    display: flex;
}

.newsfeed-row .box{
    width: 80px;
    height: auto;
    display: inline-block;
    background-color: #2f2f67;
}

.newsfeed-row .newsfeed-row-info{
    display: block;
    flex-grow: 2;
    margin: 0.1em 1em;
}

.newsfeed-row .newsfeed-date-name-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.newsfeed-row .newsfeed-title{
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
    color: #ca7106;
    border-bottom: 1px solid #b1c8d8fa;
    padding-bottom: 0.5em;
}

.newsfeed-row .newsfeed-date{
    font-size: 14px;
    color:#888;
}

.newsfeed-row .newsfeed-name{
    font-size: 16px;
    font-weight: bold;
    color:#264a63fa;
}